body {
  background-color: white;
  padding-bottom: 60px;
  color: black;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: #6b906f;
}

.navbar-default {
    background-color: #6b906f;
}

.navbar-default .navbar-brand {
    color: #281f32;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Anton', sans-serif;
    float: none;
}

.panel{
	margin-top: 30px;
}

.panel-default > .panel-heading{
	font-family: 'Quicksand', sans-serif;
}

.panel-default > .panel-body{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
}

.button{
	margin-top: 30px;
	font-family: 'Quicksand', sans-serif;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Quicksand', sans-serif;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the delete button */
.delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}

.delete:hover {
  background-color: #f44336;
  color: white;
}

.jumbotron{
  font-family: 'Quicksand', sans-serif;
  padding: 20px 20px 40px 20px;
}

.jumbotron > h2{
  color: #228B22;
  padding: 5px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 10px;
}